.red{
    color: var(--red);
}
.purple{
    color: var(--purple);
}
.blue{
    color: var(--blue)
}
.green{
    color: var(--green)
}
.yellow{
    color: var(--yellow)
}
.grid{
    display: grid;
}
.grid-flow-colluns{
    grid-template-columns: 1fr 1fr;
}